p {
  margin: 0;
}

.gray {
  background-color: lightgrey;
}

.white {
  background-color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book-list {
  border: 1px solid black;
  padding: 0;
  width: 100%;
}

.single-book {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#form {
  width: 70%;
}

#book-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book-form input {
  width: 100%;
}

hr {
  height: 3px;
  width: 40%;
  background-color: black;
  margin: 15px auto;
}

button {
  padding: 5px 10px;
}

@media screen and (min-width: 960px) {
  .container {
    width: 70%;
  }

  #form {
    width: 50%;
  }
}
